<header>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-icon [@star]="active" id="star">star</mat-icon>
    <span [@points]="active">{{ active }}</span>
  </div>
</header>
<section fxLayout="row" fxLayoutAligh="center center">
  <ng-container *ngFor="let picture of pictures | async; let i = index">
    <mat-card
      *ngIf="i == active"
      class="example-card"
      [@swipe]="swipeState"
      (swipeleft)="next('left', picture)"
      (swiperight)="next('right', picture)"
    >
      <img mat-card-image [src]="picture.url" [alt]="picture.name" />
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          cumque eius, labore, excepturi quibusdam quia rerum tenetur, neque
          nulla soluta et tempora officia amet similique architecto distinctio
          reiciendis deleniti mollitia.
        </p>
      </mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div [@blink]="active" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>keyboard_arrow_left</mat-icon>
          <span>dirty</span>
        </div>
        <div [@blink]="active" fxLayout="row" fxLayoutAlign="start center">
          <span>clean</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </mat-card>
  </ng-container>
</section>
